
<div class="content">
    <br>
    <h3>Edit Profile</h3>
    <%= render 'form' %>
</div>
<%= render partial: 'profile', locals: {profile: @profile, user: @user, current_country: @current_country, current_city: @current_city, posts: @user.posts, room: @} %>