
<div class="content-posts">
    <% if params[:search] %>
         <h4>Showing Results for: <span style="color: darkblue"><%= params[:search] %></span></h4>
    <% end %>
    <% @profiles.each do |profile| %>
        <%= render partial: 'posts/posts', locals: {posts: profile.user.posts, current_city: @current_city, current_country: @current_country} %>
    <% end %>
</div>