<div class="content">
  <div class="chat-contents">
  <h3>Chats</h3>

  <div class="ui list">
    <div class="item">
      <% @rooms.each do |room| %>
        <% if room.sender_id == current_user.id || room.recipient_id == current_user.id %>
          <% if room.sender_id == current_user.id %>
            <% recipient = User.find(room.recipient_id) %>
          <% else %>
            <% recipient = User.find(room.sender_id) %>
          <% end %>
          <%= link_to recipient.profile.username, room_messages_path(room)%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
