<div class="topnav">
  <div class="logo-head-nav">
    <%= image_tag 'logo.png', class: 'logo navbar-brand' %>
    
  </div>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>
  </div>
</div>

